.fa-thumbs-up{
    color: rgb(55, 170, 55);
}

.fa-thumbs-down{
    color: rgb(253, 32, 32);;
}

.btn-info{
    background-color: #59a6ee;
}

h2{
    text-align: center;
}

.loadMore{
    width: fit-content;
    margin-bottom: 3%;
}

.scroll{
    overflow-y: scroll;
    max-height: 500px;
    width: 70%;
    margin: auto;
}