.ask{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* .wrapper{
    width: 100%;
    margin: auto;
} */

.h4{
    text-align: center;
}