.ask{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* .wrapper{
    width: 100%;
    margin: auto;
} */

h4, h6{
    text-align: center;
}

.home-scroll{
    overflow-y: scroll;
    max-height: 500px;
    /* padding-top: 300px; */
    margin: auto;
}

.title{
    font-weight: bold;
}