h3, label {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background: #59a6ee !important;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

.inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.container .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
.inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.container h3{
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

/* .forgot-password a {
  color: #167bff;
} */